.intro-contato {
  width: 100%;
  height: 200px;
  background: url("../img/contato/intro-contato.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
}

.nao-aparece {
  display: none;
}

.contato_form label {
    display: block;

    @include tipo-2(18);
    margin-bottom: 4px;
}

.contato_form input, .contato_form textarea {
    display: block;
    width: 100%;
    border: 4px solid $verde;
    border-radius: 5%;
    background: none;

    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    @include tipo-2(18);
}

.contato_form textarea {
    height: 120px;
    margin-bottom: 20px;
}

.contato_form button {
    background: none;
    padding: 7px 40px;
}

.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}


.btn-form {
  width: 100%;
  border: 4px solid $verde;
  border-radius: 10%;
  color: $verde;
  cursor: pointer;
  &:hover {
    background-color: $verde;
    color: $branco;
  }
}

.margin-left {
  margin-left: 14%;
  @include d(s) {
    margin-left: 0px;
    margin-top: 40px;
  }
}

.aviso-erro {
  @include d(s) {
    margin-left: 27%;
  }
}