body {
  font-family: $fonte;
  color: $preto;
  @include d(s) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  @include tipo-2(18);

}

a {
  text-decoration: none !important;
  color: $marrom;
  transition: all .5s ease;
  &:hover {
    color: $branco;
  }
}


.intro {
  width: 100%;
  height: 280px;
  background: url(../img/home/intro.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
}

.bola-marrom {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $marrom;
    margin: 8px auto;
}

.titulo {
  @include  tipo-1(36);
  color: $marrom;
  padding-top: 65px;
  &::after {
    content: '. . .';
    display: block;
    font-size: em(36);
    margin-top: -30px;
  }
  @include d(s) {
    padding-top: 0px;
  }
}

.subtitulo {
  @include  tipo-1(24);
  color: $marrom;
  text-align: center;
  margin-bottom: 25px;
  &::after {
    content: '. . .';
    display: block;
    font-size: em(36);
    margin-top: -25px;
  }
  @include d(s) {
    padding-top: 0px;
  }
}

.subtitulo-branco {
  margin-top: 20px;
  color: $branco;

}

.subtitulo-footer {
  @include  tipo-1(18);
  color: $branco;
  text-align: left;
  margin-bottom: 10px;
  &::after {
    content: '. . .';
    display: block;
    font-size: em(36);
    margin-top: -22px;
  }

  @include d(s) {
    text-align: center;
    margin-top: 30px;
  }
}

.footer p {
    @include d(s) {
    text-align: center;
  }
}

.footer img {
    @include d(s) {
    margin: 0 auto;
  }
}

.menu-titulo {
  @include d(s) {
    @include  tipo-1(24);
    margin-top: 20px;
  }
  
}

.logo {
  @include d(s) {
    max-width: 80px;
  }
}

.menu {
  margin: 0 auto;
  // display: inline-block;
  text-align: center;
}

.menu-item {
  display: block;
}

header div ul li {
  color: $marrom;
  text-align: center;
  display: inline-block;
  @include tipo-1(18);
  padding: 10px;
  transition: all .5s ease;
  &:hover {
    color: $branco;
    background-color: $verde;
    color: $branco !important;
  }
}

.menu-ativo {
  background-color: $verde;
  
}

.menu-ativo a {
  color: $branco !important;
}

header div ul li:first-child {
  margin-left: 55px;
  @include d(s) {
    margin-left: 0px;
  }
}

.linha-verde {
  width: 100%;
  height: 8px;
  background-color: $verde;
  margin-bottom: 0px;
  border-width: 0px;
  margin-top: 0px;
}

.linha-marrom {
  width: 100%;
  height: 4px;
  background-color: $marrom;
  margin-bottom: 0px;
  border-width: 0px;
  margin-top: 0px;
}

.borda {
 border: 4px solid $marrom;
 border-radius: 5%;
}

.borda-menor {
  border-width: 2px;
}

.produtos {
  @include  tipo-1(18);
  display: inline-block;
  margin-left: 30%;
  margin-top: 10px;
  color: $branco;
  text-align: center;
  margin-bottom: 25px;
}

.btn {
    border: 4px solid $marrom;
    border-radius: 5%;
    padding: 10px 30px;
    color: $marrom;
    @include tipo-1(18);
    letter-spacing: .1em;
    transition: all .5s ease;
    &:hover {
      background-color: $marrom;
    }
}

.btn-branco {
  border-color: $branco;
  color: $branco;
  border-radius: 5%;
  &:hover {
    background-color: $branco;
    color: $verde;
  }
}

.botao-centro {
  margin-top: 10%;
  text-align: center;
}

.espaco-sessao {
  margin-bottom: 60px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: right;
}

.sessao-verde {
  background-color: $verde;
  border-top: 8px solid $marrom;
  border-bottom: 8px solid $marrom;

}

.footer {
  background-color: $marrom;
  border-top: 8px solid $verde;
  border-bottom: 8px solid $verde;
}

.center {
  text-align: center;
}

.branco {
  color: $branco;
}

.text-right {
  text-align: right;
    @include d(s) {
      text-align: left;
  }
}

.text-left {
  text-align: left;
  @include d(s) {
    text-align: center;
  }
}

.margem {
  margin-top: 20px;
  margin-bottom: 20px;
}



