/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #000;
}

@media screen and (max-width: 759px) {
  body {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
}

a {
  text-decoration: none !important;
  color: #2d2627;
  transition: all .5s ease;
}

a:hover {
  color: #fff;
}

.intro {
  width: 100%;
  height: 280px;
  background: url(../img/home/intro.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
}

.bola-marrom {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #2d2627;
  margin: 8px auto;
}

.titulo {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.25em;
  line-height: 1.33333em;
  color: #2d2627;
  padding-top: 65px;
}

.titulo::after {
  content: '. . .';
  display: block;
  font-size: 2.25em;
  margin-top: -30px;
}

@media screen and (max-width: 759px) {
  .titulo {
    padding-top: 0px;
  }
}

.subtitulo {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #2d2627;
  text-align: center;
  margin-bottom: 25px;
}

.subtitulo::after {
  content: '. . .';
  display: block;
  font-size: 2.25em;
  margin-top: -25px;
}

@media screen and (max-width: 759px) {
  .subtitulo {
    padding-top: 0px;
  }
}

.subtitulo-branco {
  margin-top: 20px;
  color: #fff;
}

.subtitulo-footer {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
}

.subtitulo-footer::after {
  content: '. . .';
  display: block;
  font-size: 2.25em;
  margin-top: -22px;
}

@media screen and (max-width: 759px) {
  .subtitulo-footer {
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 759px) {
  .footer p {
    text-align: center;
  }
}

@media screen and (max-width: 759px) {
  .footer img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 759px) {
  .menu-titulo {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 20px;
  }
}

@media screen and (max-width: 759px) {
  .logo {
    max-width: 80px;
  }
}

.menu {
  margin: 0 auto;
  text-align: center;
}

.menu-item {
  display: block;
}

header div ul li {
  color: #2d2627;
  text-align: center;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px;
  transition: all .5s ease;
}

header div ul li:hover {
  color: #fff;
  background-color: #2f3c2f;
  color: #fff !important;
}

.menu-ativo {
  background-color: #2f3c2f;
}

.menu-ativo a {
  color: #fff !important;
}

header div ul li:first-child {
  margin-left: 55px;
}

@media screen and (max-width: 759px) {
  header div ul li:first-child {
    margin-left: 0px;
  }
}

.linha-verde {
  width: 100%;
  height: 8px;
  background-color: #2f3c2f;
  margin-bottom: 0px;
  border-width: 0px;
  margin-top: 0px;
}

.linha-marrom {
  width: 100%;
  height: 4px;
  background-color: #2d2627;
  margin-bottom: 0px;
  border-width: 0px;
  margin-top: 0px;
}

.borda {
  border: 4px solid #2d2627;
  border-radius: 5%;
}

.borda-menor {
  border-width: 2px;
}

.produtos {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: inline-block;
  margin-left: 30%;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.btn {
  border: 4px solid #2d2627;
  border-radius: 5%;
  padding: 10px 30px;
  color: #2d2627;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.66667em;
  letter-spacing: .1em;
  transition: all .5s ease;
}

.btn:hover {
  background-color: #2d2627;
}

.btn-branco {
  border-color: #fff;
  color: #fff;
  border-radius: 5%;
}

.btn-branco:hover {
  background-color: #fff;
  color: #2f3c2f;
}

.botao-centro {
  margin-top: 10%;
  text-align: center;
}

.espaco-sessao {
  margin-bottom: 60px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: right;
}

.sessao-verde {
  background-color: #2f3c2f;
  border-top: 8px solid #2d2627;
  border-bottom: 8px solid #2d2627;
}

.footer {
  background-color: #2d2627;
  border-top: 8px solid #2f3c2f;
  border-bottom: 8px solid #2f3c2f;
}

.center {
  text-align: center;
}

.branco {
  color: #fff;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 759px) {
  .text-right {
    text-align: left;
  }
}

.text-left {
  text-align: left;
}

@media screen and (max-width: 759px) {
  .text-left {
    text-align: center;
  }
}

.margem {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 759px) {
  .intro-slide {
    display: none;
  }
}

.tel {
  text-align: right;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  color: #2d2627;
}

@media screen and (max-width: 759px) {
  .tel {
    margin-top: -120px;
  }
}

@media screen and (max-width: 759px) {
  .quem-somos {
    margin-top: 20px;
  }
}

.quem-somos-texto {
  margin-left: 3%;
}

@media screen and (max-width: 759px) {
  .quem-somos-texto {
    margin-top: 20px;
  }
}

.equipamentos-texto {
  margin-right: 3%;
}

@media screen and (max-width: 759px) {
  .equipamentos-texto {
    margin-bottom: 20px;
  }
}

.chamado {
  margin-bottom: 4%;
}

@media screen and (max-width: 759px) {
  .produtos-section {
    margin-left: 3%;
  }
}

.intro-quem-somos {
  width: 100%;
  height: 200px;
  background: url("../img/sobre/intro-quem-somos.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
}

.sem-padding {
  padding-top: 0px;
}

.sobre p {
  margin-top: 20px;
}

.quebra-quem-somos {
  width: 100%;
  height: 300px;
  background: url("../img/sobre/quebra-quem-somos.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 759px) {
  .quebra-quem-somos {
    padding-top: 10px;
  }
}

.quem-somos-titulo {
  color: #fff;
  font-weight: lighter;
}

@media screen and (max-width: 759px) {
  .quem-somos-container {
    margin-left: 20%;
  }
}

.intro-produtos {
  width: 100%;
  height: 200px;
  background: url("../img/produtos/intro-produtos.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
}

.produtos-madeiras {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: inline-block;
  margin-left: 15%;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (max-width: 759px) {
  .produtos-madeiras {
    margin-left: 13%;
  }
}

.produtos-comprensados {
  margin-left: 6%;
}

@media screen and (max-width: 759px) {
  .produtos-comprensados {
    margin-left: 4%;
  }
}

.pinus {
  margin-left: 23%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .pinus {
    margin-left: 33%;
  }
}

@media screen and (max-width: 759px) {
  .pinus {
    margin-left: 19%;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .caibros {
    margin-left: 23%;
  }
}

@media screen and (max-width: 759px) {
  .caibros {
    margin-left: 15%;
  }
}

.linha {
  margin-left: 27%;
}

@media screen and (max-width: 759px) {
  .linha {
    margin-left: 18%;
  }
}

.margem-top {
  margin-top: 40px;
}

.quebra-produtos {
  width: 100%;
  height: 300px;
  background: url("../img/produtos/quebra-produtos.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 759px) {
  .quebra-produtos {
    padding-top: 10px;
  }
}

@media screen and (max-width: 759px) {
  .produto {
    margin-left: 25%;
  }
}

.intro-contato {
  width: 100%;
  height: 200px;
  background: url("../img/contato/intro-contato.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
}

.nao-aparece {
  display: none;
}

.contato_form label {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  margin-bottom: 4px;
}

.contato_form input, .contato_form textarea {
  display: block;
  width: 100%;
  border: 4px solid #2f3c2f;
  border-radius: 5%;
  background: none;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
}

.contato_form textarea {
  height: 120px;
  margin-bottom: 20px;
}

.contato_form button {
  background: none;
  padding: 7px 40px;
}

.formphp label.nao-aparece, .formphp input.nao-aparece {
  display: none !important;
}

#form-erro span, #form-send span {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  display: block;
}

#form-send {
  color: #31aa39;
}

#form-erro {
  color: #f64540;
}

.btn-form {
  width: 100%;
  border: 4px solid #2f3c2f;
  border-radius: 10%;
  color: #2f3c2f;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #2f3c2f;
  color: #fff;
}

.margin-left {
  margin-left: 14%;
}

@media screen and (max-width: 759px) {
  .margin-left {
    margin-left: 0px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 759px) {
  .aviso-erro {
    margin-left: 27%;
  }
}

.intro-blog {
  width: 100%;
  height: 200px;
  background: url("../img/blog/intro-blog.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
}

.center-img {
  margin: 0 auto;
}
